header {
  background-image: url(../../assets/bg.jpg);
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  width: 100%;
  background-position: center;
  padding: 1rem 15%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  font-size: 2.5rem;
  color: white;
  font-family: var(--font-head);
  cursor: pointer;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.signUp__btn {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-family: var(--font-base);
  outline: none;
  border: none;
  background-color: var(--color-green);
  color: white;
  border-radius: 10px;
}

.logIn__btn {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  font-family: var(--font-base);
  outline: none;
  border: none;
  background-color: var(--color-yellow);
  color: white;
  border-radius: 10px;
}
.CTA {
  text-decoration: none;
  color: unset;
  display: none;
}
.CTA button {
  padding: 0.4rem 0.7rem;
  font-size: 0.95rem;
  border: none;
  outline: none;
  color: white;
  background-color: var(--color-yellow);
  border-radius: 5px;
}

.buttons button:hover {
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

.buttons button:active {
  opacity: 0.3;
}

.hero__section {
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.hero__section h1 {
  font-size: 2rem;
  color: white;
  font-family: var(--font-base);
  text-align: center;
}

.hero__section h1 span {
  font-size: 6rem;
  color: var(--color-yellow);
  font-family: var(--font-head);

  font-style: italic;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  header {
    padding: 1rem 4rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 1rem 2rem;
  }

  .hero__section h1 {
    font-size: 1.5rem;
  }

  .hero__section h1 span {
    font-size: 4rem;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 1rem 1rem;
  }

  nav {
    gap: 1rem;
  }

  nav h1 {
    font-size: 1.5rem;
  }

  .buttons {
    gap: 0.8rem;
  }

  .signUp__btn,
  .logIn__btn {
    display: none;
  }
  .CTA {
    display: block;
  }
  .hero__section {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
}
