* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@500&family=Poppins:wght@600&display=swap");

:root {
  --font-base: "Poppins", sans-serif;
  --font-head: "Cormorant", serif;
  --color-black: #000000;
  --color-yellow: #b39c4d;
  --color-green: #607744;
}
